@media (max-width:1334px) {
    .landing_page .cards {
        transform: translateY(-25%);
    }
}

@media (max-width:887px) {
    .landing_page .text {
        padding: 0 4vmax;
        font-size: 2.5vmax;
    }

    .landing_page .cards {
        transform: translateY(-17.5%);
    }
}

@media (max-width:500px) {
    .landing_page .cards>div {
        width: 100%;
    }

    .landing_page .text {
        transform: translateY(-7%);
    }
}