.footer {
    width: 100%;
    background-color: #000000;
    color: white;
}

/* .footer .head {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.112);
}

.footer .head>div {
    width: 100%;
    max-width: 80rem;
    padding: 1.5vmax 2vmax;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.footer .head figure {
    width: 25%;
}

.footer .head figure img {
    position: absolute;
    bottom: 0;
}

.footer .head h2 {
    width: 5%;
    min-width: 9rem;
}

.footer .head .email {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .head h2 {
    font-size: 23px;
}

.footer .head .email input[type="text"] {
    width: 100%;
    padding: 1rem 2rem;
    background-color: transparent;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgba(255, 255, 255, 0.171);
}

.footer .head .email button {
    text-wrap: nowrap;
    width: 16rem;
    border-radius: 5px;
    padding: 1rem .8rem;
    border: none;
    letter-spacing: 2px;
    margin-left: 1.5rem;
    font-weight: 900;
    background-color: #FFC800;
} */

.footer .body {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
}

.footer .body .top {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem 4vmax;
    padding-bottom: 2rem;
}

.footer .body .top .wrapper {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.footer .body .top .wrapper .box {
    width: 50%;
}

.footer .body .top .wrapper .box>h2 {
    font-size: 25px;
}

.footer .body .top .wrapper .box>p {
    color: rgba(255, 255, 255, 0.7);
}

.footer .body .top .wrapper .box3>div {
    display: flex;
    flex-direction: column;
    padding-right: 4rem;
}

.footer .body .top .wrapper .box3>div>p {
    background-color: #F63C20;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3rem;
    border-radius: 10px;
    overflow: hidden;
    font-weight: 600;
    max-width: 15rem;
}

.footer .body .top .wrapper .box3>div>p>svg {
    height: 100%;
    background-color: #d9270b;
    width: 3rem;
    padding: 13px;
}

.footer .body .top .wrapper .brand .logos {
    margin-top: 2vmax;
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    font-size: 18px;
}

.footer .body .top .wrapper .brand .logos>p {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: rgba(255, 255, 255, 0.7);
}

.footer .body .top .wrapper .brand .logos>p>svg {
    background-color: #312F30;
    padding: 10px;
    font-size: 40px;
    border-radius: 100%;
}


.footer .body .top .wrapper .links {
    display: flex;
    flex-direction: column;
    gap: 1vmax;
}

.footer .body .top .wrapper .links h2 {
    margin-bottom: .5vmax;
}

.footer .body .top .wrapper .links a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer .body .top .wrapper .links a>svg {
    color: rgba(255, 47, 0, 0.969);
}

.footer .body .top .wrapper .address {
    display: flex;
    flex-direction: column;
    gap: 1.5vmax;
}

.footer .body .top .wrapper .address p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.footer .body .bottom {
    padding: 0 2vmax;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 7rem;
    border-top: 1px solid rgba(255, 255, 255, 0.228);
}


@media (max-width:1250px) {
    .footer .head figure {
        display: none;
    }

    .footer .head h2 {
        width: 40%;
    }
}

@media (max-width:1000px) {
    .footer .body .top {
        flex-direction: column;
        gap: 4vmax;
    }

    .footer .body .top .wrapper {
        width: 100%;
    }
}

@media (max-width:740px) {
    .footer .body .top .wrapper {
        flex-direction: column;
        gap: 4vmax;
    }

    .footer .body .top .wrapper .box {
        width: 100%;
    }
}

@media (max-width:970px) {
    .footer .head>div {
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5vmax;
        padding: 3vmax 2vmax;
    }

    .footer .head h2 {
        width: 100%;
    }

    .footer .head .email {
        width: 100%;
    }
}

@media (max-width:800px) {
    .footer .body .bottom {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 2rem;
        height: 13rem;
    }
}